.contacts-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #000000ff;
}

.contact-us-subcontainer{
  padding: 20px;
  margin: 20px;
  width: 400px;
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 100px;

}
.contact-us-subcontainer h1{
  margin-top: -500px;
  font-size: 70px;
  margin-left: 30px;
  margin-bottom: 70px;

}
.contact-us-subcontainer p{
  margin-top: -20px;
  font-size: 30px;
  margin-left: 30px;

}
.contact-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 60px;
  margin-bottom: -500px;
  margin-top: 50px;
  height: 400px;
  margin-left: 50px;
  
}
.contact-form input, .contact-form textarea {
  height: 40px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ffffffff;
  font-size: 16px;
  background-color: transparent;
  color: #ffffffff;
  border-radius: 5px;
}
.contact-form button{
  padding: 10px 20px;
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #ffffffff;
  width: 50% ;
  border-radius: 5px;
}
.contact-image-container{
  height: 90vh;
  width:50%;
}
.contact-image-container img{
  height: 100%;
  object-fit: cover;
}
.contact-form-container{
  background-color: #1a1717ff;
  display:flex; 
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top:70px;
}