.services-container {
  padding-top: 6rem; 
  background-color:black;
  min-height: 100vh;
  max-width: 100%;
}

.ourservices{
    text-align: center;
    font-size: 8rem;
    margin-top: 0.5rem;
   color: white;
}
.servicesSubTitle {
    text-align: center;
    font-size: 1.5rem;
    margin-top: -4rem;
    color: white;
}
.animated-titles {
  position: relative;
  height: 2em;
  font-size: 5rem;
  color: gray;
  margin-top: 10rem;
  display: inline-block;
  overflow: hidden;
  z-index: 1;

}

.animated-titles span {
  position: fixed;
  width: 100%;
  text-align: center;
  opacity: 0;
  animation: slide 8s infinite ease-in-out;
  will-change: transform, opacity;

}

.animated-titles span:nth-child(1) { animation-delay: 0s; }
.animated-titles span:nth-child(2) { animation-delay: 2s; }
.animated-titles span:nth-child(3) { animation-delay: 4s; }
.animated-titles span:nth-child(4) { animation-delay: 6s; }

@keyframes slide {
  0%   { opacity: 0; transform: translateY(100%); }
  10%  { opacity: 1; transform: translateY(0); }
  25%  { opacity: 1; transform: translateY(0); }
  35%  { opacity: 0; transform: translateY(-100%); }
  100% { opacity: 0; }
}

